body{
    font-family: 'Playpen Sans', cursive;
    margin: 0;
    color: rgb(42, 42, 42);
    background-color: rgb(64, 89, 135);

}

header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    padding: 20px;
    text-align: center;
    color: aliceblue;
    text-shadow: 2px 1px rgb(42, 42, 42);
}

header h2{
    font-size: 1.5em;
    line-height: 1.5em;
    margin-bottom: 0;
}


.banner-paragraph{
    text-transform: uppercase;
    border-top: 4px solid aliceblue;
    font-weight: bold;
    line-height: 1.2rem;
    margin: 0 auto;
    width: max-content;
}



.first-section{
    background-image: url('images/background-img3.png');
    background-size: cover;
}

.inner-container{
    text-align: center;
}

.inner-container p{
    text-align: start;
    margin: 25px auto;
}


header p{
    margin-top: 0;
}

.block{
    display: block;
}

.profile-pic{
    border-radius: 50%;
    width: 9em;
    height: 9em;
    margin-top: 3em;
}

.flex-container{
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 0px 20px;
}

.flex-container p {
    line-height: 1.5em;
    font-size: 1.2rem
}

.flex-container h2, .flex-container h3{
    margin-bottom: 0;
}

.flex-container h2{
    font-size: 1.8em;
}

.first-section{
    background-color: aliceblue;
}


.flex-container h3, header h3{
    text-transform: uppercase;
    font-size: 0.8em;
}

form{
    display: flex;
    flex-direction: column;
}

input{
    padding: 3px 5px;
    margin-bottom: 10px;
    border: 2px solid rgb(64, 89, 135);
    border-radius: 5px;
    cursor: text;
}

input:focus{
    outline: none;
    border: 3px solid rgb(66, 113, 200);
    background-color: aliceblue;
}

button{
    background-color: rgb(64, 89, 135);
    color: aliceblue;
    border: none;
    border-radius: 6px;
    text-transform: uppercase;
    padding: 5px 0;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

button:hover{
    background-color: rgb(66, 113, 200);
    cursor: pointer;
}

@media(min-width: 576px){
    .main-container{
        display: flex;
    }


    .flex-container{
        height: 100vb;
        min-height: 700px;
    }
    .inner-container{
        margin: auto;
        text-align: center;
    }

    .inner-container p{
        font-size: 1.2rem;
    }
    .inner-container h2{
        font-size: 2.2rem;
    }

    .inner-container h3{
        font-size: 0.9rem;
    }

    .banner-container h2{
        font-size: 2rem;
    }

    header{
        min-width: 40%;
    }
}